<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src="express-app.js" defer></script>
    <link href="style.css" rel="stylesheet">
  </head>
  <form method="post" action="/employed" id="form">
<input type="submit" value="employed">
</form>
  <body>


  {{ #names }}
<div>
  <img src={{ avatar }}>
  <p class="name"> {{ name }} </p>
  <p> {{ job }} </p>
  <p> {{ company }}</p>
</div>
  {{ /names }}


  </body>
</html>
